.input {
    text-align: center;
    font-family: 'Avenir-Next,Roboto,sans-serif';
    background-color: #424242;
    color: white;
}
.input h2 {
    font-size: 45px;
    padding-top: 40px;
}

.input button {
    border-radius: 2px;
    font-size: 16px;
    padding: 15px;
    padding-left: 75px;
    padding-right: 75px;
    color: white;
    background-color: #0000;
    border: 2px solid #fff;
    cursor: pointer;
}
.know_more {
    background-color: #4992ca; text-align: center;
    color: white;
    padding-top: 1px;
    padding-bottom: 20px;
    font-family: 'Avenir-Next,Roboto,sans-serif';
}

.know_more button {
    color: white;
    background-color: #0000;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 16px;
    padding: 15px;
    padding-left: 65px;
    padding-right: 65px;
    cursor: pointer;
}

.know_more h2 {
    font-size: 45px;
}
.logos
{
    text-align: center;
    
}
.logos h2 {
    font-size: 45px;;
   
}

.logos p {
    font-size: 16px;
}

.inner {
    display: flex;
    flex-direction: row | row-reverse | column | column-reverse;
    align-items: center;
  justify-content: center;
    flex-wrap: wrap;
    
}
.inner div {

   margin-left: 10%; 
}

.inner {
    display: flex;
    flex-direction: row | row-reverse | column | column-reverse;
    align-items: center;
  justify-content: center;
    flex-wrap: wrap;
    
}
.inner div {

   margin-left: 10%; 
} 
  body {
    margin: 0px;
    font-family: 'Avenir-Next,Roboto,sans-serif';
  }
  
* {
   
    box-sizing: border-box;
}

html, body {
    /* font-size: 62.5%; */
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: white;
  width: 100%;
    border-bottom: 1px solid #E2E8F0;
    margin: 0;
    padding: 0;
}

.navbar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem 0 1rem;
    margin: 0;
    /* padding: 0; */
}

.hamburger {
    display: none;
    height: 30px;
    /* background-color: yellow; */
    
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    /* font-size: 2.1rem; */
    /* font-weight: 500; */
    /* color: #482ff7; */
}

@media only screen and (max-width: 1200px) {
    .nav-menu {
        position: absolute;
        top: -1000px;
        transform: rotate3d(0,0,1,90deg);
        left: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        
        text-align: center;
        transition: 1s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
      top: 23px;
      transform: rotate3d(0,0,0,0deg);
    }
   .navbar {
     padding: 0 1.5rem 0 0;
   }
    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        
        padding: 5px 0;
        cursor: pointer;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-5px) rotate(-45deg);
        transform: translateY(-5px) rotate(-45deg);
    }
}

  }

.cards_container {
    text-align: center;
    font-size: 16px;
}
.cards_container h4 {
    font-size: 45px;
}

.inner_cards_container {
    display: flex;
    flex-direction: row ;
  justify-content: center;
    flex-wrap: wrap;
}

.inner_cards_container .cards {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin : 10px;
}
.cont {
    flex: 1;
}
.designers {
    text-align: center;
    background-color: #4992ca;
    
    padding: 10px;
    color: white;
}
.designers h2 {
    font-size: 45px;
}
.designers_images {
    width: 200px;
    border-radius: 50%;
}

.inner_cards div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin : 10px;
    align-items: center;
   
}

.inner_cards div h4 {
    font-size: 30px;
}

.inner_cards {
    display: flex;
    flex-direction: row ;
    align-items: center;
  justify-content: center;
    flex-wrap: wrap;
}


.games {
    font-family: 'Avenir-Next,Roboto,sans-serif';
    text-align: center;
    font-size: 16px;
}

.inner_games {
    display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: center;
    flex-wrap: wrap;
}

.inner_games div {
    
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    margin : 10px;
    align-items: center;
   
}
.games h2 {
    font-size: 45px;
}
.inner_games div h4 {
    font-size: 26px;
}

.games button {
    background-color: #4992ca;
    border: 2px solid #4992ca;
    border-radius: 2px;
    font-size: 16px;
    padding: 15px;
    padding-left: 65px;
    padding-right: 65px;
    color: white;
    cursor: pointer;
}
.pocket_monster {
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.inner_monster {
    display: flex;
    flex-direction: row ;
  justify-content: center;
    flex-wrap: wrap;
}

.inner_monster div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin : 10px;
}
.pokemon_battles {
    text-align: center;
}

.inner_pokemon_battles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.inner_pokemon_battles div {
margin-left: 15px;
}

.pokemon_battles button {
    background-color: #4992ca;
    border: 2px solid #4992ca;
    border-radius: 2px;
    font-size: 16px;
    padding: 15px;
    padding-left: 65px;
    padding-right: 65px;
    color: white;
    cursor: pointer;
}
.pokemon_trainer {
    text-align: center;
    background-color: #4992ca;
    color: white;
}

.inner_trainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
    flex-wrap: wrap;
}

.inner_trainer .parts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
.qna {
    background-color: #4992ca;
    color: white;
}
.stats {
    text-align: center;
}

.inner_stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: greenyellow; */
    
}

.inner_stats div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin : 10px;
    background-color: #fff;
    
}
.inner_stats div p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}

.inner_stats div h4 {
    margin: 0px;
}
table {
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }

  .table {
      margin-bottom: 15px;
  }

.know_more {
    background-color: #4992ca; text-align: center;
    color: white;
    padding-top: 1px;
    padding-bottom: 20px;
   
}

.know_more button {
    color: white;
    background-color: #0000;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 16px;
    padding: 15px;
    padding-left: 65px;
    padding-right: 65px;
    cursor: pointer;
}

.know_more h2 {
    font-size: 45px;
}
.home {	
	background: url(overlay.jpg);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.overlayeffect {
  background-color: #000000b3;
  padding: 50px;
  padding-top: 5px;
}

.home h1 {

	color: white;

}

.home h3 {

	color: white;
    

}

.home button {
	margin: 15px;
	padding: 10px;

}

.btn {
	display: flex;
  flex-direction: column;
}

.apply {
  background-color: #4992ca;
  color: #fff;
  border: none;
  padding: 10px; 
  height: 50px;
  width: 200px;
}

.register {
  background-color: #ffffff00;
  color: #fff;
  height: 60px;
  border: 2px solid white;
  width: 200px;
}

.learn {
  border-radius: 15px;
  max-width: 400px;
}
.learn:visited {
  outline: none;
}





footer {
    width: 100%;
    background: #111;
    /* margin-top: 1.5rem; */
    place-content: center;
}
ul {
    font-size: 16px;
    color: aliceblue;
   
}
ul , li {
    list-style-type: none;
    line-height: 25px;
    color: #424242;
}

a
{
    color: white;
}

a{
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: row ;
}

footer {
    flex-shrink: 0;
    flex-wrap: wrap;
}

footer div {
    margin: 20px;
}
